<ul class="list-group list-group-flush">
    <a [routerLink]="['/graph']" class="list-group-item list-group-item-action">Action item</a>
    <a href="#" class="list-group-item list-group-item-action">Success item</a>
    <a href="#" class="list-group-item list-group-item-action">Secondary item</a>
    <a href="#" class="list-group-item list-group-item-action">Info item</a>
    <a href="#" class="list-group-item list-group-item-action">Warning item</a>
    <a href="#" class="list-group-item list-group-item-action">Danger item</a>
    <a href="#" class="list-group-item list-group-item-action">Primary item</a>
    <a href="#" class="list-group-item list-group-item-action">Dark item</a>
    <a href="#" class="list-group-item list-group-item-action">Light item</a>
  </ul>